  <div class="container-fluid" ng-cloak>
    <div class="row">
      <div class="col-xs-12 heading">
        <h1>SSBM TOP TEN 2015 PERFORMANCE</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-3 col-md-offset-1 profile" ng-cloak>
        <div class="form-group current-player">
          <label for="sel-player">Select player:</label>
          <!-- <select ng-cloak>
            <option ng-repeat="p in top_ten.players ">{{p}}</option>
          </select> -->
          <select class="form-control" ng-cloak
            ng-options="p for p in top_ten.players"
            ng-model="hello"
            ng-change="set_current_player({{p}})">
          </select>
        </div>
        <img class="profile-img img" src="img/{{current_player.tag}}.png" ng-cloak/>
        <div class="profile-name">
          <span class="profile-sponsor">{{current_player.sponsor }} | </span>
          <span class="profile-tag">{{current_player.tag}}</span>, 
          <span class="profile-rank">rank: {{current_player.rank}}</span>
        </div>
        <div class="aggregate-stats">
          <div>
            <h2>Against Gods:</h2>
            <div class="performance">
              <div class="row num-stats">
                <div class="col-xs-3">
                  Sets: {{current_player.sets_against_gods}}
                </div>
                <div class="col-xs-3">
                  Wins: {{current_player.wins_against_gods}}
                </div>
                <div class="col-xs-3">
                  Losses: {{current_player.losses_against_gods}}
                </div>
                <div class="col-xs-3">
                  Win Rate: {{Math.round(current_player.wins_against_gods / current_player.sets_against_gods * 100) }}%
                </div>
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{Math.round(current_player.wins_against_gods / current_player.sets_against_gods * 100) }}"
                aria-valuemin="0" aria-valuemax="100" style="width:{{Math.round(current_player.wins_against_gods / current_player.sets_against_gods * 100) }}%">
                  <span class="sr-only">{{Math.round(current_player.wins_against_gods / current_player.sets_against_gods * 100) }}%</span>
                </div>
              </div>
            </div>
          </div>
          <div>
            <h2>Against 7-10:</h2>
            <div class="performance">
              <div class="row num-stats">
                <div class="col-xs-3">
                  Sets: {{current_player.sets_against_demi}}
                </div>
                <div class="col-xs-3">
                  Wins: {{current_player.wins_against_demi}}
                </div>
                <div class="col-xs-3">
                  Losses: {{current_player.losses_against_demi }}
                </div>
                <div class="col-xs-3">
                  Win Rate: {{Math.round(current_player.wins_against_demi / current_player.sets_against_demi * 100) }}%
                </div>
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{Math.round(current_player.wins_against_demi / current_player.sets_against_demi * 100) }} "
                aria-valuemin="0" aria-valuemax="100" style="width:{{ Math.round(current_player.wins_against_demi / current_player.sets_against_demi * 100) }}%">
                  <span class="sr-only">{{Math.round(current_player.wins_against_demi / current_player.sets_against_demi * 100) }}% </span>
                </div>
              </div>
            </div>
          </div>  
          <div>
            <h2>Overall:</h2>
            <div class="performance">
              <div class="row num-stats">
                <div class="col-xs-3">
                  Sets: {{current_player.sets_against_all }}
                </div>
                <div class="col-xs-3">
                  Wins: {{current_player.wins_against_all}}
                </div>
                <div class="col-xs-3">
                  Losses: {{current_player.losses_against_all}}
                </div>
                <div class="col-xs-3">
                  Win Rate: {{Math.round(current_player.wins_against_all / current_player.sets_against_all * 100) }}%
                </div>
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{Math.round(current_player.wins_against_all / current_player.sets_against_all * 100) }} "
                aria-valuemin="0" aria-valuemax="100" style="width:{{Math.round(current_player.wins_against_all / current_player.sets_against_all * 100) }}%">
                  <span class="sr-only">{{Math.round(current_player.wins_against_all / current_player.sets_against_all * 100) }}% </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-7 performance-col">
        <div class="opponent row" ng-repeat="opponent in current_player.performance" ng-cloak>
          <div class="col-sm-3">
            <img ng-click="set_current_player(opponent.tag)" class="opponent-img img" src="img/{{opponent.tag}}.png" ng-cloak/>
            <div class="opponent-name">
              <span class="opponent-sponsor">{{player_data.players[opponent.tag].sponsor }} | </span>
              <span class="opponent-tag">{{opponent.tag}}</span>, 
              <span class="opponent-rank">rank: {{ player_data.players[opponent.tag].rank }}</span>
            </div>
          </div>
          
          <div class="col-sm-8 col-sm-offset-1 performance">
            <div class="row num-stats">
              <div class="col-xs-3">
                Sets: {{opponent.sets}}
              </div>
              <div class="col-xs-3">
                Wins: {{opponent.wins}}
              </div>
              <div class="col-xs-3">
                Losses: {{opponent.losses}}
              </div>
              <div class="col-xs-3">
                Win Rate: <span ng-show="{{opponent.sets == 0}}">N / A</span>
                <span ng-show="{{opponent.sets>=1}}">{{Math.round(opponent.wins / opponent.sets * 100) }}%</span>
              </div>
            </div>
            <div class="progress win-rate-bar">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{Math.round(opponent.wins / opponent.sets * 100) }}"
              aria-valuemin="0" aria-valuemax="100" style="width:{{Math.round(opponent.wins / opponent.sets * 100)}}%">
                <span class="sr-only">{{Math.round(opponent.wins / opponent.sets * 100) }}</span>
              </div>
            </div>
          </div>
        </div>

 
      </div>
    </div>
  </div>